@page
@model Saloon_Assesement_1.Pages.Customers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].Customer_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].Contact_Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].Expenses)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].Parlour_obj)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Customer) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customer_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact_Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Expenses)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Parlour_obj.Parlour_ID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Customer_ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Customer_ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Customer_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
